<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
         {% csrf_token %}
 
         <label for="tn">topic_name</label>
         <select name="tn" id="tn" multiple>
             {% for wo in webpages %}
                 <option value="{{wo.topic_name}}">{{wo.topic_name}}</option>
             {% endfor %}
         </select>
         <br>
         <br>
 
         
 
         <input type="submit" value="insert webpage">
 
 
        </form>
     </center>
</body>
</html>